@font-face {
  font-family: 'Nippo';
  src: url('../assets/fonts/Nippo-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'DarkerGrotesque';
  src: url('../assets/fonts/DarkerGrotesque-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../assets/fonts/SpaceGrotesk-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 500;
}


@font-face {
  font-family: 'Serif-Areon';
  src: url('../assets/fonts/Serif-Areon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../assets/fonts/Muli-Regular.woff2') format('woff2'),
       url('../assets/fonts/Muli-Regular.woff') format('woff'),
       url('../assets/fonts/Muli-Regular.ttf') format('truetype');
}
