@import url('fonts.css');

:root {
  font-family: Nippo, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* remove when making dark mode */
  background-color: #ffffff;
  /* background-image: url('../assets/background.svg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* hide the arrows on the input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Add this to your CSS file or in a <style> block */

.navbar-item {
  position: relative;
  padding-bottom: 5px; /* Add padding to make room for the underline */
  display: inline-block;
  overflow: hidden; /* Ensure the underlines don't overflow */
  cursor: pointer; /* Change cursor to pointer on hover */

}
.navbar-icon{
  cursor: pointer; /* Change cursor to pointer on hover */
}
.navbar-item::before,
.navbar-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px; /* Thinner underline */
  transition: width 0.4s ease; /* Transition for the thin line */
  z-index: 1; /* Ensure the thinner line is above the thicker line */
}

.navbar-item::before {
  background-color: red; /* Color for the fast-moving line */
}

.navbar-item::after {
  width: 0;
  height: 4px; /* Thicker underline */
  background-color: rgb(255, 0, 0); /* Color for the slow-moving line */
  transition: width 0.7s ease; /* Transition for the thick line */
  z-index: 0; /* Ensure the thicker line is below the thinner line */
}

.navbar-item:hover::before {
  width: 100%; /* Full width on hover */
}

.navbar-item:hover::after {
  width: 90%; /* Full width on hover, but slower */
}

.navbar-item:hover {
  color: red;
}


.red-link {
  color: white; /* Default text color */


  cursor: pointer; /* Change cursor to pointer */
  transition: color 0.3s; /* Smooth transition for color change */
}

.red-link:hover {
  color: red; /* Color when hovered */
  text-decoration-color: red; /* Color of the underline when hovered */
  text-decoration-color: red; /* Color of the underline */
  text-decoration: underline; /* Add underline */
  font-Family:'sans-serif';
}



@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Apply the animation and additional styles */
.blink {
  color: red; /* Default text color */
  font-size: 10px; /* Font size */
  animation: blink 1s infinite; /* Apply blinking animation */

  text-decoration-color: red; /* Underline color */
  font-family: 'Serif-Areon', serif; /* Font family */
}
